<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <h1>주문 정보</h1>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>주문 번호</th>
                    </tr>
                </thead>
                <tbody th:onclick="|location.href='@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}(memberId = ${memberId}, storeId = ${storeTableFindDto.storeId}, storeTableId = {storeTableFindDto.id}, orderId = ${storeTableFindDto.orderId})}'|">
                    <td th:text="${storeTableFindDto.orderId}"></td>
                </tbody>
            </table>

    </div>

    <div th:if="${storeTableFindDto.orderId == null}" class="jumbotron">
        <button class="w-100 btn btn-primary btn-sm"
                th:onclick="|location.href='@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/new(memberId = ${memberId}, storeId = ${storeTableFindDto.storeId}, storeTableId = ${storeTableFindDto.id})}'|"
                type="button">주문하기
        </button>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
